---
import "../styles/global.css";
---

<section
  class="container grid md:grid-cols-[40%_60%] gap-6 w-full min-h-screen flex justify-center items-center item-center"
>
  <div class="flex justify-center items-center item-center image-container">
    <img
      src="/images/pexels-moose-photos-170195-1036623-removebg-preview.png"
      alt="Logo"
      class="mb-4 w-full"
    />
  </div>
  <div>
    <p>
      lorem ipsum ddfdsfdfsfsdfsdfs lorem ipsum ddfdsfdfsfsdfsdfs lorem ipsum
      ddfdsfdfsfsdfsdfs lorem ipsum ddfdsfdfsfsdfsdfs lorem ipsum
      ddfdsfdfsfsdfsdfs lorem ipsum ddfdsfdfsfsdfsdfs lorem ipsum
      ddfdsfdfsfsdfsdfs lorem ipsum ddfdsfdfsfsdfsdfs
    </p>
  </div>

  <style>
    section {
    }

    .image-container {
      /* background: #a8a8a8; */

      height: 36rem;
    }
  </style>
</section>
